.about-container {
  display: flex;
  flex-direction: row;
  overflow: hidden;

}

.left{
  margin-top: 20vh;
  display: flex;
  flex-direction: column;
  margin-left: 10vw;
  
  width: 50%;
}

.about-header{
  height: min-content;
  justify-content: center;
  font-weight: normal;
  font-size: 12rem;
  font-family: "Agreement";
}
.about-content{
  width: 80%;
  justify-content: center;
  font-family: "SF Thin", sans-serif;
  font-weight: 100;
  font-size: 1.5rem;  
  color: #000000;
}
.about-signature{
  padding-top: 5vh;
  font-family: "Arty", sans-serif;
  font-size: 6rem;  
  font-weight: normal;
  color: #000000;

}
.about-titles{
  padding-top: 2vh;
  justify-content: center;
  font-family: "Sf Reg", sans-serif;
  font-weight: normal;
  font-size: 1rem;  
  color: #000000;
  padding-bottom: 2vh;
}

.right{
  margin-top: 10vh;
  right: 0;
}

.herosvg-image{
  transform : scale(1);
  transition: all 0.7s ease-in-out;
}

.herosvg-image:hover{
  transform : scale(0.95);
  transition: all 0.7s ease-in-out;
}


@media screen and (max-width: 960px) {

}