.contact-container {
  display:flex;
  flex-direction: row;
  overflow: hidden;
  padding-bottom: 10vh;
}


.contact-left{
  z-index: 10;
  width: 70%;
  display: flex;
  flex-direction: column;
}
.contact-right{
  z-index: 1;
  width: 30%;
  display: flex;
  flex-direction: column;
  left: 0;
}

.contact-header{
  padding-top: 10vh;
  height: min-content;
  justify-content: center;
  font-weight: normal;
  font-size: 12rem;
  font-family: "Agreement";
  margin-left: 10vw;
}
.contact-desc{
  margin-top: -5vh;
  margin-left: 10vw;
  justify-content: center;
  font-family: "SF Thin", sans-serif;
  font-weight: 100;
  font-size: 1.5rem;  
}

.contact-email{
  margin-left: 10vw;
  justify-content: center;
  font-family: "Sf Bold", sans-serif;
  font-weight: bold;
  font-size: 1.3rem;  
}

.email-btn{
  width:150px;
  margin-left: 10vw;
  margin-top: 2vh;
}


@media screen and (max-width:960px) {
  .contact-container{
    display: flex;
    flex-direction: column;
    position: center;
    text-align: center;
    margin: auto;
    width: 100%;
  }
  .contact-left{
    position: center;
    text-align: center;
    margin: auto;
    width: 100%;
  }
  .contact-header{
    font-size: 6.5rem;
    width: 100%;
    margin: auto;
  }
  .contact-desc{
      font-size: 1.5rem;
      width: 100%;
      margin: auto;
  }
  .email-btn{
    padding-top: 10px;
    width: 100%;
    margin: auto;
  }
  .contact-right{
    display: none;
  }
  
}