.hero-container {
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.content-container{
  display: flex;

}

.svg-container{
  width: 60%;
  display: flex;
  transform : scale(1);
  transition: all 1s ease-in-out;
}
.svg-container:hover{
  transform : scale(0.95);
  transition: all 1s ease-in-out;
  
}


.text-container{
  text-align: center;
  z-index: 10;
  width: 100%;
}


.text1{
  justify-content: center;
  margin-top: 20vh;
  font-family: "SF Thin", sans-serif;
  font-size: 3.5rem;  
  color: #000000;
}
.text2{
  justify-content: center;
  padding-top: 2vh;
  font-family: "Sf Bold";
  font-size: 3rem;
  display: flex;
  color: #000000;
}

.text3{
  height: min-content;
  justify-content: center;
  padding-top: 2vh;
  font-weight: normal;
  font-size: 15rem;
  font-family: "Agreement";
}
.btns-hero{
  margin-top: -5vh;
  justify-content: center;
  flex-direction: column;
  display: flex;
}

