.hero-container {
  display: flex;
  height: max-content;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding-bottom: 10vh;
  overflow: hidden;

}
.content-container{
  display: flex;

}

.svg-container{
  padding-top: 50px;
  width: 60%;
  display: flex;
  transform : scale(1);
  transition: all 0.7s ease-in-out;
}
.svg-container:hover{
  transform : scale(0.95);
  transition: all 0.7s ease-in-out;
  
}


.text-container{
  padding-right: 5vw;
  text-align: center;
  z-index: 10;
  width: 100%;
}


.text1{
  justify-content: center;
  margin-top: 20vh;
  font-family: "SF Thin", sans-serif;
  font-size: 3.5rem;  
  color: #000000;
}
.text2{
  justify-content: center;
  padding-top: 2vh;
  font-family: "Sf Bold";
  font-size: 3rem;
  display: flex;
  color: #000000;
}

.text3{
  height: min-content;
  justify-content: center;
  padding-top: 2vh;
  font-weight: normal;
  font-size: 15rem;
  font-family: "Agreement";
}
.btns-hero{
  margin-top: -5vh;
  justify-content: center;
  flex-direction: column;
  display: flex;
}

@media screen and (max-width: 960px) {
  .hero-container{
    overflow: hidden;
    margin-left: 5vw;
  }
 

  .content-container{
    margin-top: -5vh;
    flex-direction: column-reverse;
    text-align: center;
    justify-content: center;


  }
  .svg-container{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .text-container{
    text-align: center;
    justify-content: center;
  }
  .text1{
    font-size: 3rem;
  }
  .text2{
    font-size: 2.5rem;
  }
  .text3{
    font-size: 10rem;
  }
  .btns-hero{
    padding-top: 20px;
  }
}